@model List<taoGioHang.Models.CartItem>
@{
    ViewBag.Title = "Các sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .glyphicon {
        margin-right: 5px;
    }

    .thumbnail {
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

        .item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
            background: #428bca;
        }

        .item.list-group-item .list-group-image {
            margin-right: 10px;
        }

        .item.list-group-item .thumbnail {
            margin-bottom: 0px;
        }

        .item.list-group-item .caption {
            padding: 9px 9px 0px 9px;
        }

        .item.list-group-item:nth-of-type(odd) {
            background: #eeeeee;
        }

        .item.list-group-item:before, .item.list-group-item:after {
            display: table;
            content: " ";
        }

        .item.list-group-item img {
            float: left;
        }

        .item.list-group-item:after {
            clear: both;
        }

    .list-group-item-text {
        margin: 0 0 11px;
    }
</style>
<div class="container">
    <div class="well well-sm">
        <strong>Category Title</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list">
                </span>List
            </a> <a href="#" id="grid" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th"></span>Grid
            </a>
        </div>
    </div>
    <div id="products" class="row list-group">
        @foreach (var product in Model)
        {
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">
                            @product.Name
                        </h4>
                        <p class="group inner list-group-item-text">
                            <img src="~/Content/Images/@product.Photo"
                                 width="300px" height="150px">
                        </p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    <span class="text-muted">@(product.Price.ToString("n0")) VND</span>
                                </p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="@Url.Action("AddToCart", "ShoppingCart",
new { ProductId = product.Id})"> Đặt hàng</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>