
@{
    ViewBag.Title = "DetailsMusic";
}

<h4>Tên Bài Hát: @ViewBag.musicName </h4>
    
<audio controls>
    <source src="@ViewBag.AudioFilePath" type="audio/mp3">
    Your browser does not support the audio element.
</audio>
