
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>This is Store. Look at these songs.</h2>
<ul>
    <li>AnhSaiRoi - SonTungMTP</li>
    <li>MienMan - MinhHuy</li>
    <li>SODA - MCK prod.GC</li>
    <li>TrotYeu - TrungQuanIdol </li>
    <li>Madihu - KhongConEm</li>
</ul>
